<ul class="breadcrumbs" role="navigation list" aria-label="breadcrumbs" itemscope itemtype="http://schema.org/BreadcrumbList">
    <li class="breadcrumbs__item" role="listitem" role="listitem" itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
        <span itemprop="name">
            <a class="breadcrumbs__link" href="#" itemtype="http://schema.org/Thing" itemprop="item">Index</a>
        </span>
        <meta itemprop="position" content="1" />
    </li>
    <li class="breadcrumbs__item" role="listitem" itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
        <span itemprop="name">
            <a class="breadcrumbs__link" href="#" itemtype="http://schema.org/Thing" itemprop="item">Category</a>
        </span>
        <meta itemprop="position" content="2" />
    </li>
    <li class="breadcrumbs__item" role="listitem">
        <a class="breadcrumbs__link" aria-current="page">Subategory</a>
    </li>
</ul>
