{% set author = 'Howard Phillips "H. P." Lovecraft' %}
{% set title = 'Chtulhu is coming..' %}
<div class="news-page" itemscope itemtype="http://schema.org/NewsArticle">
    <link href="{{ ''|page }}" itemprop="url">
    <meta content="{{ title }}" itemprop="headline">
    <meta itemprop="author" itemprop="name" content="{{ author }}" itemtype="http://schema.org/Organization" >
    <time itemprop="datePublished" class="news-page__date" datetime='2018-12-28T11:45:00+03:00'>October 11, 2018</time>
    <div class="wysiwyg article-page__wysiwyg" itemprop="articleBody">
        <h2>
            The Call of Cthulhu
        </h2>
        <p>The most merciful thing in the world,
            I think, is the inability of the human mind to correlate all its contents.
            We live on a placid island of ignorance in the midst of black seas of infinity,
            and it was not meant that we should voyage far.
        </p>
    </div>
</div>
