<nav class="pagination {{ wrapperClass }}" role="navigation" aria-label="Pagination">
    <a href="#" class="pagination__btn pagination__btn_prev" aria-label="Go to previous page"></a>
    <ul class="pagination__list">
        <li class="pagination__item">
            <a class="pagination__link pagination__link_current" aria-current="true">
                <span class="visually-hidden">page</span>1
            </a>
        </li>
        <li class="pagination__item">
            <a class="pagination__link" href="/page2">
                <span class="visually-hidden">page</span>2
            </a>
        </li>
    </ul>
    <a href="#" class="pagination__btn pagination__btn_next" aria-label="Go to next page"></a>
</nav>
